# ignore any extra folders
*/
# don't ignore these folders
!IIS-21/
!IIS-21/**
!IIS-22/
!IIS-22/**
!latex-curso/
!latex-curso/**
!latex-proyecto/
!latex-proyecto/**
# vim swapfiles
*.swp
# binary files
__pycache__
*.exe
*.out
*.so
*.a
*.dll
*.lib
# pdflatex tmp files
*.log
*.toc
*.aux
# temporary pdf, not final one
IIS-22/latex-proyecto/proyecto.pdf

